:root{
  font-size: 16px;
  font-family: monospace;
  --font-green: rgb(71, 219, 71);
  --font-green-hover: rgb(80, 188, 80);
  --dark-space: rgb(26, 25, 28);
  --light-dark-space: rgb(40, 40, 45);
  --transparent: rgba(0, 0, 0, 0);;
}

*{
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

.main-container{
  background-color: whitesmoke /* var(--dark-space) */;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

.content-container{
  height: calc(100% - 2rem);
  background-color: var(--light-dark-space);
  overflow-y: auto;
  display:flex;
}

.command-line-open{
  height: calc(100% - 6rem);
}


.hidden{
  display: none;
}


.lineSearch{
  position: absolute; 
  width: 50%; 
  top: 45%; 
  left: 50%; 
  right: 50%;
}