.cli{
  width: 100%;
  height: 3rem;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cli-input{
  width: 95%;
  outline: none;
}

.cli-input:active{
  outline: none;
}